<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <!--        <th>Position</th>-->
        <!--        <th>Office</th>-->
        <!--        <th>Age</th>-->
        <!--        <th>Start date</th>-->
        <!--        <th>Salary</th>-->
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Name</th>
        <!--        <th>Position</th>-->
        <!--        <th>Office</th>-->
        <!--        <th>Age</th>-->
        <!--        <th>Release date</th>-->
        <!--        <th>Ticket Price</th>-->
    </tr>
    </tfoot>
    <tbody>

    <tr th:each="result:${cinemaList}">
        <td th:text="${result.cinema.theaterId}"></td>
        <td th:text="${result.show}"></td>
        <!--        <td>San Francisco</td>-->
        <!--        <td>59</td>-->
        <!--        <td>2012/08/06</td>-->
        <!--        <td>$137,500</td>-->
    </tr>
    </tbody>
</table>
</body>
</html>